<div id="wrapper" class="d-flex">
    <app-navigation-bar></app-navigation-bar>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="container-fluid">
        <!-- Page content-->
        <h1 class="mt-4">Disciplines:</h1>
        <div *ngIf="isLoading" class="loading">
            <div>Loading...</div>
        </div>

        <div *ngIf="!isLoading" class="discipline-list">
            <ul *ngFor="let disciplineWrap of allDisciplineWraps">
                <li>
                    {{ disciplineWrap.fields.name }}
                </li>
                <li>
                    {{ disciplineWrap.fields.quote }}
                </li>
                <li>
                    <a href="subjects/{{ disciplineWrap.pk }}">Subjects</a>
                </li>
                <li>
                    <a href="discipline/apply/{{ disciplineWrap.pk }}">Apply</a>
                </li>
            </ul>
        </div>
    </div>
</div>
