<div id="wrapper" class="d-flex">
    <app-navigation-bar></app-navigation-bar>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="container-fluid">
        <!-- Page content-->
        <h1 class="mt-4">Appeals:</h1>
        <div *ngIf="isLoading" class="loading">
            <div>Loading...</div>
        </div>

        <div *ngIf="!isLoading" class="subject-list">
            <ul *ngFor="let appealWrap of allAppealWraps">
                <li>Date created: {{ appealWrap.fields.datetime_created }}</li>
                <li>Date of birth: {{ appealWrap.fields.date_of_birth }}</li>
                <li>Place of birth: {{ appealWrap.fields.place_of_birth }}</li>
                <li>
                    Finished school: {{ appealWrap.fields.finished_school }}
                </li>
                <li>Cover letter: {{ appealWrap.fields.cover_letter }}</li>
                <li>
                    Finished school file path:
                    {{ appealWrap.fields.finished_school_file_path }}
                </li>
                <li>Average grade: {{ appealWrap.fields.average_grade }}</li>
                <li>
                    Graduation test result:
                    {{ appealWrap.fields.graduation_test_result }}
                </li>
            </ul>
        </div>
    </div>
</div>
