<!-- Sidebar-->
<div id="sidebar-wrapper" class="border-end bg-white">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="university">University</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="appeal">Appeals</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="approval">Approvals</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="logout">Logout</a>
    </div>
</div>
