<div id="wrapper" class="d-flex">
    <app-navigation-bar></app-navigation-bar>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="container-fluid">
        <!-- Page content-->
        <h1 class="mt-4">Approvals:</h1>
        <div *ngIf="isLoading" class="loading">
            <div>Loading...</div>
        </div>

        <div *ngIf="!isLoading" class="subject-list">
            <ul *ngFor="let approvalWrap of allApprovalWraps">
                <li>Date created: {{ approvalWrap.fields.date_created }}</li>
            </ul>
        </div>
    </div>
</div>
